# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
modules/*/android/build/

# Maestro test screenshots
*_after_tap_*.png
*_friends_*.png
*_search_*.png
*_scrolled_*.png
*_account_*.png
*_logged_*.png
*_login_*.png
*_logout_*.png
*_home_*.png
*_contacts_*.png

# Build artifacts
*.apk

# Generated documentation
docs/*.pdf

.claude/
